<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <!-- PROD -->

  <configSections>
    <section name="jj.framework.data" type="JJ.Framework.Configuration.ConfigurationSectionHandler, JJ.Framework.Configuration" />
  </configSections>

  <jj.framework.data
    contextType="Xml"
    location="."
    modelAssembly="JJ.Data.SaveText"
    mappingAssembly="JJ.Data.SaveText.Xml">
    <repositoryAssemblies>
      <repositoryAssembly>JJ.Data.SaveText.Xml</repositoryAssembly>
      <repositoryAssembly>JJ.Data.SaveText.DefaultRepositories</repositoryAssembly>
    </repositoryAssemblies>
  </jj.framework.data>
  
  <appSettings>
    <add key="SaveTextAppServiceUrl" value="http://savetextappservice.jjvanzon.io/SaveTextAppService.svc" />
    <add key="SaveTextWithSyncAppServiceUrl" value="http://savetextappservice.jjvanzon.io/SaveTextWithSyncAppService.svc" />
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>