<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IResourceAppService" />
                <binding name="BasicHttpBinding_ISetTextAppService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:6371/ResourceAppService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IResourceAppService"
                contract="ResourceAppService.IResourceAppService" name="BasicHttpBinding_IResourceAppService" />
            <endpoint address="http://localhost:6371/SetTextAppService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISetTextAppService"
                contract="SetTextAppService.ISetTextAppService" name="BasicHttpBinding_ISetTextAppService" />
        </client>
    </system.serviceModel>
</configuration>