<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <configSections>
    <section name="jj.framework.configuration.tests" type="JJ.Framework.Configuration.ConfigurationSectionHandler, JJ.Framework.Configuration" />
    <section name="my.assembly.name" type="JJ.Framework.Configuration.ConfigurationSectionHandler, JJ.Framework.Configuration" />
  </configSections>

  <jj.framework.configuration.tests
    intAttribute="100"
    stringAttribute="stringAttribute_Value"
    stringAttribute2_WithAlternativeName="stringAttribute2_Value">
    <element>element_Value</element>
    <element2WithAlternativeName>element2_Value</element2WithAlternativeName>
    <subConfiguration>
      <childElement>childElement_Value</childElement>
    </subConfiguration>
    <array>
      <arrayItem>arrayItem_0_Value</arrayItem>
      <arrayItem>arrayItem_1_Value</arrayItem>
    </array>

    <arrayOfSubConfigurations>
      <subConfiguration>
        <childElement>arrayOfSubConfigurations_0_ChildElement_Value</childElement>
      </subConfiguration>
      <subConfiguration>
        <childElement>arrayOfSubConfigurations_1_ChildElement_Value</childElement>
      </subConfiguration>
    </arrayOfSubConfigurations>
  </jj.framework.configuration.tests>

  <my.assembly.name>
    <mySetting>10</mySetting>
  </my.assembly.name>

  <appSettings>
    <add key="MySetting" value="20"/>
  </appSettings>
  
</configuration>