<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="jj.framework.data" type="JJ.Framework.Configuration.ConfigurationSectionHandler, JJ.Framework.Configuration"/>
  </configSections>
  <jj.framework.data 
    contextType="NHibernate" 
    dialect="SqlServer2008" 
    location="Data Source=.\SQLEXPRESS;Initial Catalog=DEV_SaveTextDB;User ID=devsavetext;Password=devsavetext637;Persist Security Info=True" 
    modelAssembly="JJ.Data.SaveText" 
    mappingAssembly="JJ.Data.SaveText.NHibernate">
    <repositoryAssemblies>
      <repositoryAssembly>JJ.Data.SaveText.NHibernate</repositoryAssembly>
      <repositoryAssembly>JJ.Data.SaveText.DefaultRepositories</repositoryAssembly>
    </repositoryAssemblies>
  </jj.framework.data>
  <appSettings/>
  
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https"/>
    </protocolMapping>
    <!-- Changed aspNetCompatibilityEnabled to false to prevent error
         "The service cannot be activated because it does not support ASP.NET compatibility."
         when running the service in IIS7.
         Info: http://stackoverflow.com/questions/11904202/wcf-web-service-error-the-service-cannot-be-activated-because-it-does-not-suppo -->
    <serviceHostingEnvironment aspNetCompatibilityEnabled="false" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <directoryBrowse enabled="false"/>
  </system.webServer>
</configuration>