<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SetTextAppService" value="http://localhost:6371/SetTextAppService.svc" />
    <add key="ResourceAppService" value="http://localhost:6371/ResourceAppService.svc" />
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>