<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true"
                 targetFramework="4.5" />

    <httpRuntime targetFramework="4.5" />

    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization" />
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms"
             namespace="Microsoft.AspNet.Web.Optimization.WebForms"
             tagPrefix="webopt" />
      </controls>
    </pages>

    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login"
             timeout="2880"
             defaultUrl="~/" />
    </authentication>

    <sessionState mode="InProc"
                  customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider"
             type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </providers>
    </sessionState>
  </system.web>

  <system.net>
    <defaultProxy enabled="true" />
    <settings>
    </settings>
  </system.net>

  <uri>
    <idn enabled="All" />
    <iriParsing enabled="true" />
  </uri>
  <runtime>
    <!-- This prevents the Windows Event Log from frequently logging that HMAC1 is being used (when the other party needs it). -->
    <legacyHMACWarning enabled="0" />
  </runtime>
</configuration>