<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="jj.framework.persistence" type="JJ.Framework.Configuration.ConfigurationSectionHandler, JJ.Framework.Configuration"/>
  </configSections>
  
  <jj.framework.persistence 
    contextType="NHibernate" 
    dialect="SqlServer2008" 
    location="Data Source=.\SQLEXPRESS;Initial Catalog=SetTextDB_DEV;User ID=development;Password=development;Persist Security Info=True" 
    modelAssembly="JJ.Models.SetText" 
    mappingAssembly="JJ.Models.SetText.Persistence.NHibernate">
    <repositoryAssemblies>
      <repositoryAssembly>JJ.Models.SetText.Persistence.NHibernate</repositoryAssembly>
      <repositoryAssembly>JJ.Models.SetText.Persistence</repositoryAssembly>
    </repositoryAssemblies>
  </jj.framework.persistence>
  
  <appSettings/>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="false" targetFramework="4.5"/>
    <httpRuntime/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  
  <system.serviceModel>
     <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https"/>
    </protocolMapping>
    
    <!-- Changed aspNetCompatibilityEnabled to false to prevent error
         "The service cannot be activated because it does not support ASP.NET compatibility."
         when running the service in IIS7.
         Info: http://stackoverflow.com/questions/11904202/wcf-web-service-error-the-service-cannot-be-activated-because-it-does-not-suppo -->
    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="false" 
                               multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <directoryBrowse enabled="false"/>
  </system.webServer>
</configuration>