<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="jj.framework.data"
             type="JJ.Framework.Configuration.ConfigurationSectionHandler, JJ.Framework.Configuration" />
    <section name="jj.framework.data.tests"
             type="JJ.Framework.Configuration.ConfigurationSectionHandler, JJ.Framework.Configuration" />
    <section name="entityFramework"
             type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
             requirePermission="false" />
  </configSections>

  <connectionStrings>
    <add name="PersistenceTestDB_DEVEntities"
         connectionString="metadata=res://*/EntityFramework.Model1.csdl|res://*/EntityFramework.Model1.ssdl|res://*/EntityFramework.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=PersistenceTestDB_DEV;persist security info=True;user id=dev;password=dev;MultipleActiveResultSets=True;App=EntityFramework&quot;"
         providerName="System.Data.EntityClient" />
  </connectionStrings>
  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient"
                type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  <jj.framework.data.tests
    location="Data Source=.\SQLEXPRESS;Initial Catalog=DEV_PersistenceTestDB;User ID=dev;Password=dev;Persist Security Info=True"
    nhibernateContextType="NHibernate"
    entityFrameworkContextType="EntityFramework"
    dialect="SqlServer2008" />
</configuration>