<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="jj.framework.persistence" type="JJ.Framework.Configuration.ConfigurationSectionHandler, JJ.Framework.Configuration" />
  </configSections>

  <jj.framework.persistence
    contextType="Xml.Linq"
    location="."
    modelAssembly="JJ.Models.SetText"
    mappingAssembly="JJ.Models.SetText.Persistence.Xml.Linq">
    <repositoryAssemblies>
      <repositoryAssembly>JJ.Models.SetText.Persistence.Xml.Linq</repositoryAssembly>
      <repositoryAssembly>JJ.Models.SetText.Persistence</repositoryAssembly>
    </repositoryAssemblies>
  </jj.framework.persistence>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>