<?xml version="1.0" encoding="utf-8" ?>
	<naspect>
		<configuration>
				
			<aspect name="Cache" target-signature="Coll*" >
				<target signature="Puzzle.NCore.Framework.Collections.KeyStruct" type="signature" exclude="true" />
				<target signature="Gnu*" type="signature" />
				<pointcut name="Addcut" target-signature="add_*" >
					<interceptor type="CacheSample.AddCacheInterceptor, CacheSample" />			
				</pointcut>
				<pointcut name="Getcut" target-signature="get_*" >
					<interceptor type="CacheSample.GetCacheInterceptor, CacheSample" />			
				</pointcut>
				<mixin type="CacheSample.CacheHolderMixin, CacheSample"/>
			</aspect>

			<aspect name="Log" target-signature="Coll*" >
				<target signature="Tut*" type="signature" />
				<pointcut name="Allcut" target-signature="*" >
					<interceptor type="CacheSample.LogBeforeInterceptor, CacheSample" />			
					<interceptor type="CacheSample.LogAfterInterceptor, CacheSample" />			
				</pointcut>
				<mixin type="CacheSample.LogHolderMixin, CacheSample"/>
			</aspect>
			
		</configuration>
    </naspect>
