<?xml version="1.0" encoding="utf-8"?>

<!-- Not used in Unity yet. -->

<configuration>
  <configSections>
    <section name="jj.framework.persistence" type="JJ.Framework.Configuration.ConfigurationSectionHandler, JJ.Framework.Configuration" />
  </configSections>
  
  <jj.framework.persistence
    contextType="Xml"
    location="."
    modelAssembly="JJ.Models.SetText"
    mappingAssembly="JJ.Models.SetText.Persistence.Xml">
    <repositoryAssemblies>
      <repositoryAssembly>JJ.Models.SetText.Persistence.Xml</repositoryAssembly>
      <repositoryAssembly>JJ.Models.SetText.Persistence</repositoryAssembly>
    </repositoryAssemblies>
  </jj.framework.persistence>

</configuration>