<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SetTextAppServiceUrl" value="http://localhost:6371/SetTextAppService.svc" />
    <add key="SetTextWithSyncAppServiceUrl" value="http://localhost:6371/SetTextWithSyncAppService.svc" />
    <add key="ResourceAppServiceUrl" value="http://localhost:6371/ResourceAppService.svc" />
    <add key="CultureName" value="nl-NL" />
  </appSettings>
</configuration>