<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <!-- DEV -->

  <configSections>
    <section name="jj.framework.data" 
             type="JJ.Framework.Configuration.ConfigurationSectionHandler, JJ.Framework.Configuration" />
  </configSections>

  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>

  <jj.framework.data 
    contextType="NHibernate" 
    dialect="SqlServer2008" 
    location="Data Source=.;Initial Catalog=DEV_SaveTextDB;User ID=dev;Password=dev;Persist Security Info=True"
    modelAssembly="JJ.Data.SaveText"
    mappingAssembly="JJ.Data.SaveText.NHibernate">
    <repositoryAssemblies>
      <repositoryAssembly>JJ.Data.SaveText.NHibernate</repositoryAssembly>
      <repositoryAssembly>JJ.Data.SaveText.DefaultRepositories</repositoryAssembly>
    </repositoryAssemblies>
  </jj.framework.data>
  
  <!--
  <jj.framework.data
    contextType="Xml.Linq"
    location="."
    modelAssembly="JJ.Data.SaveText"
    mappingAssembly="JJ.Data.SaveText.Persistence.Xml.Linq">
    <repositoryAssemblies>
      <repositoryAssembly>JJ.Data.SaveText.Persistence.Xml.Linq</repositoryAssembly>
      <repositoryAssembly>JJ.Data.SaveText.DefaultRepositories</repositoryAssembly>
    </repositoryAssemblies>
  </jj.framework.data>
  -->
  
  <!--
  <jj.framework.data
    contextType="Memory"
    modelAssembly="JJ.Data.SaveText"
    mappingAssembly="JJ.Data.SaveText.Persistence.Memory">
    <repositoryAssemblies>
      <repositoryAssembly>JJ.Data.SaveText.Persistence.Memory</repositoryAssembly>
      <repositoryAssembly>JJ.Data.SaveText.DefaultRepositories</repositoryAssembly>
    </repositoryAssemblies>
  </jj.framework.data>
  -->
  
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->

  <system.web>
    <httpRuntime targetFramework="4.5" />
    <compilation debug="true" targetFramework="4.6.1" />

    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  </configuration>