@* THIS FILE IS AUTOMATICALLY OVERWRITTEN. Edit it in JJ.Demos.ReturnActions.Mvc. *@

@{
	ViewBag.Title = "Not Authorized";
	Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Not Authorized</h2>
<p>You are not authorized to view this content.</p>