<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="JJ.Framework.Common" version="1.1.0.31223" targetFramework="net45" />
  <package id="JJ.Framework.Conversion" version="1.1.0.31224" targetFramework="net45" />
  <package id="JJ.Framework.Exceptions" version="1.1.0.31224" targetFramework="net45" />
  <package id="JJ.Framework.IO" version="1.1.0.31224" targetFramework="net45" />
  <package id="JJ.Framework.PlatformCompatibility" version="1.1.0.31223" targetFramework="net45" />
  <package id="JJ.Framework.Reflection" version="1.1.0.31224" targetFramework="net45" />
  <package id="JJ.Framework.Testing" version="1.1.0.31225" targetFramework="net45" />
  <package id="JJ.Framework.Text" version="1.1.0.31223" targetFramework="net45" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net45" />
</packages>