<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="JJ.Framework.Common" version="1.0.6633.34564" targetFramework="net45" />
  <package id="JJ.Framework.PlatformCompatibility" version="1.0.6633.34565" targetFramework="net45" />
  <package id="JJ.Framework.Reflection" version="1.0.6633.36153" targetFramework="net45" />
  <package id="JJ.Framework.Text" version="1.0.6633.36116" targetFramework="net45" />
</packages>