<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="JJ.Framework.Collections" version="1.3.6681.33429" targetFramework="net45" />
  <package id="JJ.Framework.Common" version="1.3.6681.33418" targetFramework="net45" />
  <package id="JJ.Framework.Conversion" version="1.3.6681.33424" targetFramework="net45" />
  <package id="JJ.Framework.Exceptions" version="1.3.6681.33422" targetFramework="net45" />
  <package id="JJ.Framework.IO" version="1.3.6681.33428" targetFramework="net45" />
  <package id="JJ.Framework.Mathematics" version="1.3.6689.35854" targetFramework="net45" />
  <package id="JJ.Framework.PlatformCompatibility" version="1.3.6681.33417" targetFramework="net45" />
  <package id="JJ.Framework.Reflection" version="1.3.6681.33420" targetFramework="net45" />
  <package id="JJ.Framework.Testing" version="1.3.6681.33426" targetFramework="net45" />
  <package id="JJ.Framework.Text" version="1.3.6683.35352" targetFramework="net45" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net45" />
</packages>